.header {
    display: block;
    margin-bottom: 10px;
}

h1 {
    font-style: initial;
    font-size: 3rem;
    margin-bottom: 0rem;
}
.bookLink {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 1.2rem;
}